<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css_admin/__base.css">
</head>
<body class="bg-[#f9fafb]">
<header class="w-full h-16 shadow-md z-30 bg-white">
    <div class="w-full h-full px-5 py-3 flex flex-row justify-end items-center">
        <div>
            <div class="menu-parent relative cursor-pointer">
                <figure class="w-10 h-10 rounded-full border-2 border-blue-500">
                    <img src="/imgs/default_avatar.png" alt="" class="avatar w-full h-full rounded-full object-cover">
                </figure>
                <div class="menu w-52 bg-white shadow-md border border-gray-200 absolute top-full opacity-0 invisible transition-all rounded-md right-0 px-3 py-3">
                    <a href="" class="flex flex-row justify-start items-center px-2 py-3 rounded-md cursor-pointer transition-all hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);">
                            <path d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"></path>
                        </svg>
                        <span class="ml-3">Hồ sơ cá nhân</span>
                    </a>
                    <a href="" class="flex flex-row justify-start items-center px-2 py-3 rounded-md cursor-pointer transition-all hover:bg-gray-200">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" style="fill: rgba(0, 0, 0, 1);">
                            <path d="M16 13v-2H7V8l-5 4 5 4v-3z"></path><path d="M20 3h-9c-1.103 0-2 .897-2 2v4h2V5h9v14h-9v-4H9v4c0 1.103.897 2 2 2h9c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2z"></path>
                        </svg>
                        <span class="ml-3">Đăng xuất</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
<aside class="fixed top-0 left-0 px-2 h-screen w-64 z-50 bg-white">
    <div class="h-16 w-full flex flex-row justify-start items-center">
        <figure class="w-16 h-16 overflow-hidden">
            <img src="../img/logo.png" alt="" class="w-full h-full object-cover rounded-full">
        </figure>
        <span class="font-bold text-lg">
                TUIS G9
            </span>
    </div>
    <div class="w-full flex flex-col justify-start items-center">
        <a href="" class="option bg-slate-200">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <path d="M22 8a.76.76 0 0 0 0-.21v-.08a.77.77 0 0 0-.07-.16.35.35 0 0 0-.05-.08l-.1-.13-.08-.06-.12-.09-9-5a1 1 0 0 0-1 0l-9 5-.09.07-.11.08a.41.41 0 0 0-.07.11.39.39 0 0 0-.08.1.59.59 0 0 0-.06.14.3.3 0 0 0 0 .1A.76.76 0 0 0 2 8v8a1 1 0 0 0 .52.87l9 5a.75.75 0 0 0 .13.06h.1a1.06 1.06 0 0 0 .5 0h.1l.14-.06 9-5A1 1 0 0 0 22 16V8zm-10 3.87L5.06 8l2.76-1.52 6.83 3.9zm0-7.72L18.94 8 16.7 9.25 9.87 5.34zM4 9.7l7 3.92v5.68l-7-3.89zm9 9.6v-5.68l3-1.68V15l2-1v-3.18l2-1.11v5.7z"></path>
            </svg>
            <span class="text-black">QL Đơn hàng</span>
        </a>
        <a href="" class="option ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><path d="M12 2a5 5 0 1 0 5 5 5 5 0 0 0-5-5zm0 8a3 3 0 1 1 3-3 3 3 0 0 1-3 3zm9 11v-1a7 7 0 0 0-7-7h-4a7 7 0 0 0-7 7v1h2v-1a5 5 0 0 1 5-5h4a5 5 0 0 1 5 5v1z"></path>
            </svg>
            <span>QL Khách hàng</span>
        </a>
        <a href="" class="option ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <path d="M5 22h14c1.103 0 2-.897 2-2V9a1 1 0 0 0-1-1h-3V7c0-2.757-2.243-5-5-5S7 4.243 7 7v1H4a1 1 0 0 0-1 1v11c0 1.103.897 2 2 2zM9 7c0-1.654 1.346-3 3-3s3 1.346 3 3v1H9V7zm-4 3h2v2h2v-2h6v2h2v-2h2l.002 10H5V10z"></path>
            </svg>
            <span>QL Sản phẩm</span>
        </a>
        <a href="" class="option ">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24">
                <path d="M12 15c-1.84 0-2-.86-2-1H8c0 .92.66 2.55 3 2.92V18h2v-1.08c2-.34 3-1.63 3-2.92 0-1.12-.52-3-4-3-2 0-2-.63-2-1s.7-1 2-1 1.39.64 1.4 1h2A3 3 0 0 0 13 7.12V6h-2v1.09C9 7.42 8 8.71 8 10c0 1.12.52 3 4 3 2 0 2 .68 2 1s-.62 1-2 1z"></path><path d="M5 2H2v2h2v17a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4h2V2H5zm13 18H6V4h12z"></path>
            </svg>
            <span>TK Doanh Thu</span>
        </a>
    </div>

</aside>
<main class="pl-64 h-screen mt-2 z-20">

</main>

<script src="/script_admin/index.js"></script>
</body>
</html>