<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="/css_admin/__base.css">
</head>
<body>
<div class="relative w-full h-screen bg-slate-200">
    <div class="w-2/5 px-8 py-8 bg-white rounded-lg absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <p class="text-center uppercase font-bold text-3xl">
            Đăng nhập
        </p>
        <div class="w-full mt-5">
            <form th:action="@{/admin/authenUser}" method="post">
                <div class="w-full mb-3 flex flex-col justify-start items-start">
                    <span class="mb-1 text-lg font-medium">Tên đăng nhập</span>
                    <input type="text" autofocus
                           class="w-full px-5 py-2 text-lg rounded-md mb-1 outline-none border-2 border-slate-500 bg-white transition-all duration-200 focus:border-blue-600">
                    <span></span>
                </div>
                <div class="w-full mb-3 flex flex-col justify-start items-start">
                    <span class="mb-1 text-lg font-medium">Mật khẩu</span>
                    <input type="password"
                           class="w-full px-5 py-2 text-lg rounded-md mb-1 outline-none border-2 border-slate-500 bg-white transition-all duration-200 focus:border-blue-600">
                    <span></span>
                </div>
                <input type="submit" value="Đăng nhập"
                       class="w-full py-3 mt-3 rounded-md bg-blue-600 border border-dashed border-transparent cursor-pointer text-white text-lg transition-all duration-200 transform hover:bg-blue-700 focus:bg-white focus:text-black focus:border-slate-900 focus:translate-y-1">
            </form>
        </div>
    </div>
</div>
</body>
</html>