<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="css_customer/__base.css">
</head>
<body>
<!-- START HEADER -->
<header class="header ">

</header>
<!-- END HEADER -->

<!-- START SUB HEADER -->
<div class="sub__header">

</div>
<!-- END SUB HEADER -->


<!-- START MAIN CONTENT -->

<!-- END MAIN CONTENT -->


<!-- START FOOTER -->
<footer class="footer">

</footer>
<!-- END FOOTER -->

<!-- SCRIPT TO INSERT HEADER AND FOOTER -->
<script src="script_customer/header_component.js"></script>
<script src="script_customer/footer_component.js"></script>

<!-- SCRIPT FOR MAKING ANIMATION OF HEADER AND FOOTER -->
<script src="script_customer/header_footer-control.js"></script>
</body>
</html>