<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" href="css_customer/__base.css">
</head>
<body>
<!-- START HEADER -->
<header class="header" th:insert="view_customer/header.html">

</header>
<!-- END HEADER -->

<!-- START SUB HEADER -->
<div class="sub__header" th:insert="view_customer/sub_header.html">

</div>
<!-- END SUB HEADER -->


<!-- START MAIN CONTENT -->

<!-- END MAIN CONTENT -->


<!-- START FOOTER -->
<footer class="footer" th:insert="view_customer/footer.html">

</footer>
<!-- END FOOTER -->

<!-- SCRIPT FOR MAKING ANIMATION OF HEADER AND FOOTER -->
<script src="script_customer/header_footer-control.js"></script>
</body>
</html>